astutils==0.0.5
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.9
dd==0.6.0
fonttools==4.49.0
kiwisolver==1.4.5
matplotlib==3.8.3
memory-profiler==0.61.0
networkx==3.2.1
numpy==1.26.4
packaging==23.2
pillow==10.2.0
ply==3.10
psutil==5.9.8
pyparsing==3.1.2
python-dateutil==2.9.0.post0
six==1.16.0
z3-solver==4.12.6.0
